*{
    margin: 0;padding: 0;
}
body{
    background: url(./s.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.nav ul{
    list-style: none;
    margin: 0;
    overflow: hidden;
    background-color: red;
    display: flex;
    justify-content: center;
    
}
.nav ul li a{border-radius: 0;
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none ;
    font-size: 20px;
}
.nav ul li a:hover{
    background-color: black;
}
/* pagination  */
.class1{background-color: red;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    height: 55px;
    width: 99%;
    text-align: center;
}
a{  display: inline-block;
    color: white;
    padding: 10px 20px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 100px;
    box-sizing: border-box;
}
a:hover{
    background-color: white;
    color: red;
    padding: 0px 20px;
}
@media screen and (max-width: 690px) {
    .class1{
        height: 40px;
    }
    a{padding: 5px 10px;
        font-size: 25px;
    }
}
@media screen and (max-width: 443px) {
    a{padding: 5px 5px;
        font-size: 16px;
    }
}